.p-edit-page{

    .block-list
    {
        margin-bottom: 30px;

        .wp-block-list
        {
            padding: 10px;
            border: 1px solid #f2f2f2;

            ul
            {
                display: flex;
                justify-content: space-between;

                li
                {
                    padding: 10px;
                    cursor: pointer;
                    transition: 0.4s;

                    &:hover
                    {
                        background-color: #000;
                        color: #fff;
                    }

                    &.active
                    {
                        transition: 0s;
                        background-color: #000;
                        color: #fff;
                    }
                }
            }
        }
    }
    .block
    {
        display: none;

        .s-details
        {
            display: flex;
            row-gap: 20px;
            flex-wrap: wrap;

            .block-list-item
            {
                width: 100%;
                border-top: 1px solid #f2f2f2;
                margin-top: 20px;
                padding: 20px 0px 20px 100px;

                .item-list-details
                {
                    display: flex;
                    flex-wrap: wrap;
                    row-gap: 20px;
                }
            }
        }

        .save-area
        {
            margin: 20px 0;
            display: flex;
            justify-content: flex-end;
        }

        &.active
        {
            display: block;
        }
    }
}